<app-confirmation *ngIf="isSuccess" [mensaje]="message"></app-confirmation>
<app-negation *ngIf="isError" [mensaje]="message"></app-negation>
<div class="bg-[#ffffff] shadow-xl rounded-t-xl relative"  *ngIf="stand.favorite_status && stand.favorite_user">
    <div class="multimedia">
    <img [src]="stand.image[0]" 
         alt="" 
         class="rounded-t-xl" 
         id="image">
    </div>
    <!-- Contenedor principal de contenido en blanco -->
    <div class="pl-4 pr-4 pb-4 bg-white rounded-b-xl relative">
        
        <!-- Contenedor del icono de corazón sobre el fondo blanco -->
        <div class="absolute top-2 right-2" (click)="toggleFavorite()">
            <label class="ui-bookmark">
              <div class="bookmark" [class.filled]="stand.favorite_status && stand.favorite_user">
                <svg
                  viewBox="0 0 16 16"
                  class="bi bi-heart-fill ng"
                  height="25"
                  width="25"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"
                    fill-rule="evenodd"
                  ></path>
                </svg>
              </div>
            </label>
          </div>
          
        <div>
            <h1 class="mt-2 font-semibold">{{ stand.name || null }}</h1>
            <h2 class="font-normal">{{ stand.municipio || "No existe" }}</h2>
            <div class="flex flex-row cursor-pointer items-center justify-center h-[20px] gap-2 rounded-lg hover:text-blue-600" (click)="watchStand()">
              <h3 class="font-light text-center ">{{ stand.distance || "No existe" | number }} km cerca de ti</h3>
              <img src="./assets/map.svg" alt="icon location" class="w-[15px] h-[15px]">
            </div>
        </div>

        <div class="flex justify-center mt-4">
            <button (click)="viewStand()" class="text-center bg-[#ffb66e7e] rounded-lg w-full p-[0.4vh]">Ver puesto</button>
        </div> 
    </div>
</div>
