<app-header></app-header>
<section class="flex justify-center mt-16">
    <div class="w-full max-w-4xl">
        <div>
            <p id="titulo" class="text-3xl text-[#796767]">Búsqueda</p>
        </div>
        <div class="flex sm:flex-row items-center pt-5 gap-2" [formGroup]="categoryToSearch">
            <div class="flex-grow flex"> 
                <div class="flex items-center justify-center rounded-tl-lg rounded-bl-lg bg-white p-3 border-2 border-[#0000002c] border-r-0">
                    <svg viewBox="0 0 20 20" aria-hidden="true" class="pointer-events-none w-5 fill-gray-500 transition">
                        <path d="M16.72 17.78a.75.75 0 1 0 1.06-1.06l-1.06 1.06ZM9 14.5A5.5 5.5 0 0 1 3.5 9H2a7 7 0 0 0 7 7v-1.5ZM3.5 9A5.5 5.5 0 0 1 9 3.5V2a7 7 0 0 0-7 7h1.5ZM9 3.5A5.5 5.5 0 0 1 14.5 9H16a7 7 0 0 0-7-7v1.5Zm3.89 10.45 3.83 3.83 1.06-1.06-3.83-3.83-1.06 1.06ZM14.5 9a5.48 5.48 0 0 1-1.61 3.89l1.06 1.06A6.98 6.98 0 0 0 16 9h-1.5Zm-1.61 3.89A5.48 5.48 0 0 1 9 14.5V16a6.98 6.98 0 0 0 4.95-2.05l-1.06-1.06Z"></path>
                    </svg>
                </div>

                <input type="text" class="w-full bg-white text-[#696262] pl-2 text-base font-semibold outline-0 border-[0.2vh] border-[#00000049] border-l-0 rounded-md rounded-l-none" placeholder="Buscar por categoría" id="search-input" formControlName="category">
            </div>

            <select class="w-[40vh] h-[6.3vh] border-[0.2vh] border-[#00000049] rounded-md" formControlName="idcategory">
                <option  *ngFor="let item of categories" [value]="item.idcategory" class="bg-[#c5bfbf] text-gray-800">{{item.category}}</option>
            </select>
            <input (click)="searchStands()" type="button" value="Buscar" class="bg-[#E4C246] p-[1.4vh] mt-2 sm:mt-0 rounded-lg text-white font-semibold px-10 hover:bg-[#bea23c] transition-colors w-full sm:w-auto text-[#62562E]">
        </div>

        <div class="mt-4">
            <p class="text-[#6E6666]">Categoría seleccionada:</p>
        </div>
    </div>
    <button (click)="goToLocation()">Abrir google maps</button>
    
</section>
<div *ngIf="closestLocations.length > 0">
    <h3>Puntos de coordenadas más cercanos a tu ubicación</h3>
    <ul>
      <li *ngFor="let location of closestLocations">
        {{ location.name }} - Distancia: {{ location.distance | number:'1.1-2' }} km
    </li>
    </ul>
</div>

  <div *ngIf="!userLatitude || !userLongitude">
    <p>Esperando obtener tu ubicación...</p>
</div>

