<section class="carousel sm:p-4 md:p-16 flex flex-col w-full mx-auto gap-8 items-center justify-center">
  <div class="border-2 border-black flex flex-col md:flex-row w-full gap-8 items-start">
    <!-- Columna izquierda: Carousel -->
    <div class="w-full md:w-1/2 flex justify-center items-center">
      <div class="carousel-container relative w-full max-w-lg">
        <button (click)="previous()" class="carousel-button left absolute top-1/2 -translate-y-1/2 -left-4">&lt;</button>
        <div class="carousel-images flex overflow-hidden">
          <img 
            *ngFor="let image of standClient.image; let i = index"
            [src]="image"
            [alt]="'Imagen ' + i"
            [class.active]="i === currentImageIndex"
            class="h-80 w-full object-cover transition-opacity duration-300"
          />
        </div>
        <button (click)="next()" class="carousel-button right absolute top-1/2 -translate-y-1/2 -right-4">&gt;</button>
      </div>
    </div>

    <!-- Columna derecha: Texto -->
    <div class="w-full md:w-1/2 space-y-6">
      <!-- Detalles del stand -->
      <div>
        <p class="text-[4.4vh] font-bold">{{standClient.name}}</p>
        <p class="text-[18px] tracking-wide font-light pt-3 pb-3">{{standClient.description}}</p>

        <div class="flex flex-col md:flex-row md:items-center md:space-x-2">
          <p class="font-bold opacity-60 text-[2.6vh]">Ubicación:</p>
          <p class="font-light opacity-90 tracking-wider text-[2.6vh]">{{standClient.estado}}, {{standClient.municipio}}</p>
        </div>

        <div class="flex flex-col md:flex-row md:items-center md:space-x-2 pt-2 pb-2">
          <p class="font-bold opacity-60 text-[2.6vh]">Contacto:</p>
          <img class="w-6 h-6" src="./assets/logo_whatsap.svg" alt="WhatsApp logo">
          <p class="font-light opacity-90 tracking-wider text-[2.6vh]">{{standClient.phone}}</p>
        </div>
      </div>

      <!-- Calificación -->
      <div class="text-center md:text-left">
        <p *ngIf="status" class="text-xl font-bold">Califícanos</p>
        <div class="flex items-center justify-center md:justify-start gap-2 w-full" *ngIf="status">
          <img 
            *ngFor="let isFilled of getStarArray(); let i = index" 
            [src]="isFilled ? './assets/star_fill.svg' : './assets/star.svg'" 
            [alt]="'Star ' + (i + 1)" 
            class="w-8 cursor-pointer" 
            (click)="updateStars(i)" 
          />
          <button (click)="rating()" class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-orange-300">Enviar Rating</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Componente debajo del carrusel y texto -->
  <div class="w-full ">
    <app-productstand [standid]="idstand"></app-productstand>
  </div>
</section>
