<section class="flex mx-auto gap-4 mt-2 ml-2 flex-col p-3 w-[100%]">
    <h1 class="text-4xl font-semibold">Productos y servicios</h1>
    <p class="text-xl">Encuentra la variedad de productos y servicios diseños para satisfacer tus necesidades</p>
    <div class="flex flex-col flex-wrap items-center xl:items-start justify-around gap-3 xl:flex-row xl:gap-1 xl:justify-evenly">
        <!-- Contenedor para cada producto -->
        <div 
          class="w-[100%] flex border-2 border-black bg-white h-24 p-2 gap-2 shadow-md flex-row xl:flex xl:flex-col xl:w-[22%] xl:h-[400px] xl:justify-start"
          *ngFor="let object of products"
        >
          <!-- Imagen del producto -->
          <img 
            class="w-[30%] h-[100%] xl:w-[50vh] xl:h-[30vh] xl:bg-cover" 
            src="https://img.hellofresh.com/w_3840,q_auto,f_auto,c_fill,fl_lossy/hellofresh_s3/image/HF_Y24_R16_W24_ES_ESSGPB21283-2_Main_high-97359b19.jpg" 
            alt="Producto"
          >
          <!-- Detalles del producto -->
          <div class="flex flex-col gap-2 p-3">
            <h1 id="text" class="text-[16px]">Nombre: {{object.name}}</h1>
            <p id="text" class="text-[10px]">
              Cantidad: {{object.amount}} <br>
              Precio: {{object.price}}
            </p>
          </div>
        </div>
      </div>
      
</section>
