#titulo{
    font-family: "Jockey One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.file-upload {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.2rem;
}

.custom-file-upload {
    background-color: white;
    color: rgba(0, 0, 0, 0.547);
    width: 60vh;
    height: 3.4vh;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.319);
    text-align: center;
}

.file-input {
    display: none;
}

google-map {
    height: 280px;  
    width: 100%;  
    display: flex;
    margin-bottom: 1rem;
    flex-shrink: 0;
}

button {
    margin-top: 1rem;  
    padding: 0.5rem 1rem;
    background-color: #395674; 
    color: white; 
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    font-size: 1rem;
    animation-duration: 100ms;
}

button:hover {
    background-color: #0056b3; 
}

/*FOTOS*/
.image-preview {
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px;
    width: 100%; 
    max-width: 800px;
    margin: auto; 
    display: relative;
}


.preview-img {
    width: 28vh;
    height: 22vh;
    object-fit: cover;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#foto:hover{
    filter: brightness(0.6) ;
}

