<div id="introduction" class="w-full h-[60vh] flex pt-[8vh] mt-7">
    <div class="text-white w-full">
        <div class="flex ml-[7vh] justify-between sm:justify-normal">
            <div class="ml-[1vh] max-w-[50%] sm:ml-[8vh]"> 
                <p class="font-bold text-[4vh] mb-4 text-[#796767] slide-in">LAMBI</p>
                <p class="text-[2vh] pr-2 text-justify mb-4 text-[#6E6666] sm:text-[2.9vh] sm:pr-8 escribiendo">
                    Lambi es un sitio web que permite ayudar a buscar microtiendas 
                    cerca de tu localidad para adquirir productos o servicios que 
                    los vendedores publican.
                </p>

                <div class="flex flex-col sm:flex-row items-center">
                    <div class="flex w-full sm:w-auto">
                        <div class="flex w-10 items-center justify-center rounded-tl-lg rounded-bl-lg border-r border-gray-200 bg-white p-5 border-2 border-[#0000002c]">
                            <svg viewBox="0 0 20 20" aria-hidden="true" class="pointer-events-none absolute w-5 fill-gray-500 transition">
                                <path d="M16.72 17.78a.75.75 0 1 0 1.06-1.06l-1.06 1.06ZM9 14.5A5.5 5.5 0 0 1 3.5 9H2a7 7 0 0 0 7 7v-1.5ZM3.5 9A5.5 5.5 0 0 1 9 3.5V2a7 7 0 0 0-7 7h1.5ZM9 3.5A5.5 5.5 0 0 1 14.5 9H16a7 7 0 0 0-7-7v1.5Zm3.89 10.45 3.83 3.83 1.06-1.06-3.83-3.83-1.06 1.06ZM14.5 9a5.48 5.48 0 0 1-1.61 3.89l1.06 1.06A6.98 6.98 0 0 0 16 9h-1.5Zm-1.61 3.89A5.48 5.48 0 0 1 9 14.5V16a6.98 6.98 0 0 0 4.95-2.05l-1.06-1.06Z"></path>
                            </svg>
                        </div>
                        <input type="text" class="w-full max-w-[40vh] bg-white text-[#696262] pl-2 text-base font-semibold outline-0 border-2 border-[#0000002c]" 
                        placeholder="Buscar puesto" id="search-input">
                    </div>
                    <input type="button" value="Buscar" class="bg-[#E4C246] p-2 mt-2 sm:mt-0 sm:ml-2 rounded-lg text-white font-semibold px-10 hover:bg-[#bea23c] transition-colors w-full sm:w-auto cursor-pointer"
                     [routerLink]="('/busqueda')">
                </div>
            </div>
            
            <div id="carrusel" class="overflow-hidden w-full sm:w-1/2">
                <ul class="flex h-[40vh] animate-slide sm:h-[40vh]">
                    <li class="flex-shrink-0 flex justify-center items-center">
                        <img src="./assets/introduction1.png" alt="Denuncia" class="w-full object-contain">
                    </li>
                    <li class="flex-shrink-0 flex justify-center items-center">
                        <img src="./assets/introduction2.png" alt="Documento" class="w-full object-contain">
                    </li>
                    <li class="flex-shrink-0 flex justify-center items-center">
                        <img src="./assets/mapa.png" alt="Psicología" class="w-full object-contain">
                    </li>
                    <li class="flex-shrink-0 flex justify-center items-center">
                        <img src="./assets/introduction3.png" alt="Psicología" class="w-full object-contain">
                    </li>
                    <li class="flex-shrink-0 flex justify-center items-center">
                        <img src="./assets/introduction1.png" alt="Denuncia" class="w-full object-contain">
                    </li>
                </ul>
            </div>
            
        </div>
    </div>
</div>
<div class="h-[0.8vh] bg-[#BFAAAA]"></div>