#carrusel {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#carrusel ul {
    display: flex;
    padding: 0;
    margin: 0;
    width: 100%;
    animation: slide 10s infinite;
}

#carrusel li {
    list-style: none;
    width: 100%;
    padding: 20px;
    flex: 0 0 100%;
}

#carrusel img {
    width: 80%; 
    padding: 5px;
    height: 80vh;
    display: block;
    object-fit: contain;
    opacity: 0;
    animation: imagen 2s forwards;
}

@media (max-width: 768px) {
    #carrusel {
        height: 60vh; 
    }

    #carrusel img {
        width: 100%; 
        height: auto; 
    }
}

@media (max-width: 480px) {
    #carrusel {
        height: 50vh;
    }

    #carrusel img {
        width: 100%; 
        height: auto;
    }
}

@keyframes imagen {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slide {
    0% { transform: translateX(0%); }
    20% { transform: translateX(0%); }        /* Mostrar la primera imagen */
    25% { transform: translateX(-100%); }     /* Mover a la segunda imagen */
    45% { transform: translateX(-100%); }     /* Mostrar la segunda imagen */
    50% { transform: translateX(-200%); }     /* Mover a la tercera imagen */
    70% { transform: translateX(-200%); }     /* Mostrar la tercera imagen */
    75% { transform: translateX(-300%); }     /* Mover a la cuarta imagen */
    95% { transform: translateX(-300%); }     /* Mostrar la cuarta imagen */
    100% { transform: translateX(-400%); }    /* Mover a la quinta imagen */
}



.slide-in {
    transform: translateX(-100%); /* Comienza fuera de la pantalla a la izquierda */
    opacity: 0;
    animation: slideInAnimation 1s ease-out forwards; /* La animación dura 1 segundo */
}

@keyframes slideInAnimation {
    0% {
      transform: translateX(-100%); /* Empieza fuera de la pantalla */
      opacity: 0; /* Empieza invisible */
    }
    100% {
      transform: translateX(0); /* Llega a su posición original */
      opacity: 1; /* Se vuelve completamente visible */
    }
}

/*TEXTO PARRAFO*/
.escribiendo{
    transform: translateX(-100%); /* Comienza fuera de la pantalla a la izquierda */
    opacity: 0;
    animation: slideInAnimation 1s ease-out forwards;
}

@keyframes texto{
    to {
        opacity: 1;
      }

}

#buscador{
    opacity: 0;
    animation: slideInAnimation 2s ease-out forwards;
    animation-name: input;

}
@keyframes input{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}