<div class="fixed inset-0 bg-gray-800 bg-opacity-50 z-50 flex justify-center items-center lg:flex-row lg:p-2 lg:gap-2">
    <div class="flex bg-gray-100 w-[90%] h-[70vh] shadow-xl flex-col items-center justify-center pb-4 relative z-60 lg:w-[90%] lg:h-[80%] lg:p-4 lg:flex-row">
      <div class="w-[100%] h-[40%] flex justify-center items-center p-2 lg:w-[60%] lg:h-[100%]">
        <img src="https://www.tqma.com.ec/images/com_yoorecipe/banner_superior/12585_1.jpg" alt="Imagen de producto" class="w-[95%] h-[100%] lg:w-[100%] lg:h-[100%]">
      </div>
      <div class="w-[90%] h-[55%] flex flex-col gap-2 lg:w-[60%] lg:h-[100%] lg:gap-4 lg:p-4">
        <h1 class="text-2xl font-bold">{{product.name}}</h1>
        <p class="text-lg font-light">{{product.description}}</p>
        <p class="text-lg font-light">Cantidad: {{product.amount}}</p>
        <p class="text-lg font-light">Precio: {{product.price | currency:'MXN'}}</p>
      <div class="flex flex-col gap-2">
        <button class="bg-[#E1E3DD] p-2 rounded-md w-[100%] text-[#80776F]">Agregar al carrito</button>
        <button class="bg-[#EFA686] text-[#80776F] p-2 rounded-md w-[100%]" (click)="closeModalView()">Cerrar</button>
      </div>
       
      </div>
     
       
  </div>