<app-header></app-header>
<app-nothing-in-page *ngIf="products.length === 0" message="No hay productos en este rubro"></app-nothing-in-page>
<section *ngIf="products.length > 0" class="flex mx-auto gap-4 flex-col w-full ">
    <div id="rectangulo" class="w-[100%] h-[18vh] flex justify-center items-center gap-9 flex-col bg-[#91655b]">
      <div class="flex">
        <input
  type="text"
  class="w-[100%] bg-white text-[#696262] pl-2 text-base font-semibold outline-0 border-[0.2vh] 
  border-[#00000049] rounded-l-md h-10"
  placeholder="Buscar puesto"
  id="search-input"
  [(ngModel)]="palabraInput"
  (input)="searchProduct(palabraInput)"
/>
<button class="bg-orange-300 px-10 rounded-r-md">Buscar</button>
</div>
<ul
  *ngIf="filteredProducts.length > 0"
  class="bg-white border border-gray-300 rounded-md mt-2 max-h-40 overflow-auto"
>
  <li
    *ngFor="let product of filteredProducts"
    (click)="selectProduct(product)"
    class="p-2 hover:bg-gray-200 cursor-pointer w-[100%]"
  >
    {{ product.name }}
  </li>
</ul>

    </div>
    <app-modal-view *ngIf="statusModalModal" [product]="productToSend" (statusModalClose)="closeModal($event)"></app-modal-view>
    
    
    <div class="flex flex-col pl-28 mt-2">   
    <h1 class="text-4xl font-semibold">Productos y servicios</h1>
    <p class="text-xl font-light">Encuentra la variedad de productos y servicios diseñados para satisfacer tus necesidades</p>
    </div>
    <div class="flex flex-col xl:flex-row items-center xl:items-start justify-center gap-4 
    xl:gap-4 p-4 w-full flex-wrap pl-10 pr-10">
    
    <!-- cambios -->
<div 
class="card flex flex-row xl:flex-col gap-4 p-4 xl:w-[22%] w-full rounded-lg shadow-lg"
*ngFor="let object of products; let i = index">

<img 
  class="w-24 h-24 object-cover rounded-lg xl:w-full xl:h-48"
  src="https://img.hellofresh.com/w_3840,q_auto,f_auto,c_fill,fl_lossy/hellofresh_s3/image/HF_Y24_R16_W24_ES_ESSGPB21283-2_Main_high-97359b19.jpg" 
  alt="Producto" 
  (click)="openModal(object)"
>

<div 
  class="flex flex-col justify-between w-full overflow-auto h-16 xl:h-20 sm:h-16">
  <h1 class="text-base font-semibold xl:text-lg">Nombre: {{object.name}}</h1>
  <p class="text-sm xl:text-base">
    Cantidad: {{object.amount}} <br>
    Precio: {{object.price}} <br>
  </p>
</div>

<div class="flex justify-center mt-1 sm:mt-4 xl:mt-0">
  <button 
    class="bg-orange-200 hover:bg-orange-300 text-center rounded-lg w-full p-2 text-sm duration-100"
    (click)="abrirModal(object)"
  >
    Agregar al carrito
  </button>
</div>
</div>

    </div>
  </section>
  <div *ngIf="ventanaModal">
  <app-modal (modal)="cerrarModal($event)"></app-modal>
  </div>
  