<app-loader *ngIf="isLoading"></app-loader>
<div class="flex items-center justify-center text-center space-x-16 p-7" *ngIf="!isLoading">
    <hr class="w-[50vh] border-[0.2vh] border-[#00000043]">
    <p id="titulo" class="text-[#796767] text-[4vh]">Encuentra puestos que ofrezcan</p>
    <hr class="w-[50vh] border-[0.2vh] border-[#00000043]">
</div>

<div class="carousel-container p-10">
  <button class="carousel-button prev" (click)="prev()">‹</button>
  <div class="carousel-wrapper">
    <div
      class="carousel"
      [style.transform]="'translateX(-' + currentSlide * 100 / itemsPerView + '%)'"
      [style.transition]="'transform 0.5s ease-in-out'"
    >
      <div class="carousel-item" *ngFor="let item of stands">
        <div class="card">
          <img *ngFor="let image of item.image; let i = index"
           [src]="image" alt="Card image">
          <h3>{{ item.name }}</h3>
          <p>{{ item.description }}</p>
          <div class="actions">
            <button>About Me</button>
            <button>Hire Me</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-button next" (click)="next()">›</button>
</div>





<div class="h-[0.8vh] bg-[#BFAAAA]"></div>
