<div class="relative flex items-center justify-start bg-cover bg-center h-[70vh] sm:flex sm:justify-around" id="fondo">
    <div class="absolute  bg-black"></div>
    
    <div class="absolute inset-0 shine-effect"></div>

    <div class="relative text-left text-white pl-16 max-w-lg ">
        <p class="text-[5.2vh] font-semibold mb-4 text-center" id="titulo">¿Antojo de algo delicioso?</p>
        <p class="text-lg mb-6 text-center">
            Descubre los puestos mas cercanos para satisfacer ese pequeño capricho
        </p>
        <div class="flex justify-center">
            <button class="bg-[#a19d95] text-white px-10 py-3 rounded-full font-semibold hover:bg-[#4e4738] duration-150"
            [routerLink]="['/busqueda']">
                Buscar puesto
            </button>
        </div>
    </div>
    <div>
    <img src="./assets/hombre.png" class="h-[35vh] mt-9 sm:h-[55vh]" alt="">
    </div>
</div>

<div class="h-[1vh] w-full bg-[#9d9292]"></div>