<div class="overflow-y-auto h-[28vh]">
    <table class="min-w-full bg-white border border-gray-300">
        <thead>
            <tr class="bg-[#D9D9D9]">
                <th class="py-2 px-8 border">Nombre</th>
                <th class="py-2 px-8 border">Tipo</th>
                <th class="py-2 px-8 border">Cantidad</th>
                <th class="py-2 px-8 border">Precio</th>
                <th class="py-2 px-8 border">Funciones</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let object of products let i=index">
                <td class="py-2 px-8 border text-center">{{object.name}}</td>
                <td class="py-2 px-8 border text-center">{{object.category}}</td>
                <td class="py-2 px-8 border text-center">{{object.amount}}</td>
                <td class="py-2 px-8 border text-center">{{object.price}}</td>
                <td class="py-2 px-8 border flex justify-center gap-6">
                    <img src="./assets/actualizar.png" class="h-[3vh] 
                    hover:bg-[#504c4c24] cursor-pointer rounded-lg" alt="" title="Actualizar" (click)="actualizar(i, object.idproduct)">
                    <img src="./assets/eliminar.png" class="h-[3vh] 
                    hover:bg-[#504c4c24] cursor-pointer rounded-lg" alt="" title="Eliminar" (click)="eliminar(object.idproduct)">
                </td>
            </tr>
        </tbody>
    </table>
</div>