<p id="titulo" class="flex justify-center mt-7 text-[#796767] text-[4vh] sm:text-[4vh] sm:flex sm:justify-center">Encuentra puestos que ofrezcan</p>
<section class="flex justify-center mt-6">
    <div class="grid grid-cols-2  w-full max-w-5xl gap-2 text-center text-[#0000009b] sm:gap-36 sm:grid-cols-4 sm:text-center">

        <div class="flex justify-center flex-col items-center">
            <img src="./assets/comidas.png" alt="">
            <h1 class="text-[3vh]">Comidas</h1>
        </div>
        <div class="flex justify-center flex-col items-center">
            <img src="./assets/accesorios.png" alt="">
            <h1 class="text-[3vh]">Accesorios</h1>
        </div>
        <div class="flex justify-center flex-col items-center">
            <img src="./assets/antojos.png" alt="">
            <h1 class="text-[3vh]">Antojos</h1>
        </div>
        <div class="flex justify-center flex-col items-center">
            <img src="./assets/servicios.png" alt="">
            <h1 class="text-[3vh]">Servicios</h1>
        </div>
    </div>
</section>
<div class="h-[0.8vh] bg-[#BFAAAA] mt-10"></div>