#titulo{
    font-family: "Jockey One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

img{
    width: 62%;
    opacity: 0;
    transform: scale(0);
    animation: fadeInScale 1s ease forwards;
}

@media (min-width: 768px){
    section{
        display: flex;
        justify-content: center;
    }
    img{
        width: 80%;
        opacity: 50%;
    }
}

@media (min-width: 992px){
    section{
        display: flex;
        justify-content: center;
    }
    img{
        width: 100%;
        opacity: 50%;
    }
}


/*---------IMAGENES-----------*/
.image {
    opacity: 0;
    transform: scale(0);
    animation: fadeInScale 1s ease forwards;
}

@keyframes fadeInScale {
    to {
        opacity: 0.5;
        transform: scale(1);
    }
}

img:hover {
    transform: scale(0.8); 
    opacity: 0.5;
    transition: transform 0.2s ease; 
}

.escribiendo{
    opacity: 0;
    animation: texto 3s ease forwards;
}

@keyframes texto{
    to {
        width: 100%;
        opacity: 1;
    }

    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}