<section class="flex justify-center p-8 gap-10 pt-12">
    <div class="bg-[#C1E3BA] flex pr-10 pl-10 gap-4 w-full max-w-[45%] items-center shadow-md rounded-md sm:flex " id="whatsap">
        <div class="flex flex-col justify-center sm:flex sm:flex-col">
            <h1 class="text-[2vh] font-bold opacity-70 sm:text-2xl">Comunicate con el vendedor</h1>
            <div class="pr-32 text-justify">
                <p class="text-opacity-70 text-[2.3vh] text-[#3d3c3c]">Comunícate directamente a través de WhatsApp para realizar tu compra u obtener más información del puesto.</p>
            </div>
        </div>
        <div class="flex justify-center items-center">
            <img src="./assets/whatsap.png" class="h-36 w-[40vh]" alt="WhatsApp">
        </div>
    </div>

    <div class="bg-[#E2D6B0] flex p-6 gap-4 w-full max-w-[45%] items-center shadow-md rounded-md duration-100" id="estrella">
        <div class="flex flex-col justify-center">
            <h1 class="text-2xl font-bold opacity-70">Califica el negocio</h1>
            <div class="pr-32 text-justify">
                <p class="text-opacity-70 text-[2.3vh] text-[#3d3c3c]">Califica el negocio con sistema de 5 estrellas.</p>
            </div>
        </div>
        <div class="flex justify-center items-center">
            <img src="./assets/estrella.png" class="h-36" alt="Estrella">
        </div>
    </div>
</section>

<footer class="flex items-center justify-center w-full max-w-[89%] mx-auto pt-5" *ngIf="!usersServices.isStatusSeller()">
    <div class="w-full shadow-md text-center flex justify-center items-center" id="fondo">
        <div class="">
        <p id="titulo" class="text-[6vh] text-white">Cuentas con algun negocio?</p>
        <div class="pl-[46vh] pr-[46vh]">
        <p class="text-white text-[3vh] font-medium">Si tienes algun puesto de cualquier categoría, publícalo y permite que 
            los usuarios descubran lo que ofreces</p>
        </div>
            <button class="bg-[#a19d95] text-white px-16 py-[1.4vh] rounded-3xl font-semibold hover:bg-[#7b7260] duration-150 mt-6"
            [routerLink]="['/crearPuesto']">
                Publicar
            </button>
            <marquee behavior="" direction="" scrollamount="30" class="text-white text-[3.5vh] mt-10 font-semibold">!Haz que tu negocio crezca!</marquee>
        </div>
        </div>
</footer>

