<app-header></app-header> 
<app-sucefull *ngIf="isSuccess"></app-sucefull>
<section class="flex justify-center items-center gap-4 w-full h-[80vh] flex-col">
    <div class="flex flex-col justify-center items-center gap-4 p-4">
        <h1 class="text-4xl font-bold">Estas a un paso de mandar tu pedido al vendedor</h1>
        <p class="text-lg font-light">Recuerda que puedes cancelar el pedido en cualquier momento</p>
    </div>
    <div class="flex justify-center items-center flex-col gap-4">
        <p>Agrega tu direccion de envio, para que el vendedor pueda enviarte tu pedido</p>
        <input type="text" class="w-full p-2 rounded-md border-2" placeholder="Direccion de envio" formControlName="mensaje" (focusout)="validateMessage()">

        <p *ngIf="mensajeError" class="text-red-500 text-sm mt-1 pl-1">
            Ingresa una direccion de envio
        </p>
    </div>

    <div class="flex justify-center items-center flex-row mt-2 gap-4">
        <button class="bg-blue-500 text-white px-4 py-2 rounded-md" (click)="saveShoppingCart()">Enviar pedido</button>
        <button class="bg-red-500 text-white px-4 py-2 rounded-md" (click)="cancelShoppingCart()">Cancelar pedido</button>
    </div>
    
</section>
