<section class="flex justify-around mt-10">
    <div class="border-[0.3vh] border-black">
    <p id="titulo" class="text-[#796767] text-[3.5vh]">Gestion del puesto</p>
    <h1 class="text-gray-600">Datos del establecimiento</h1>

<div class="flex flex-col gap-y-1">
<label for="" class="text-[#434141]">Nombre del puesto</label>
<input type="text" name="" id="" class="border-[0.2vh] border-[#00000049] w-[70vh] rounded-[4px]">
</div>

<div class="flex flex-col gap-y-1">
    <label for="" class="text-[#434141]">Descripcion del puesto</label>
    <textarea name="" id="" class="border-[0.2vh] border-[#00000049] w-[70vh] resize-none h-[20vh] rounded-[4px]"></textarea>
</div>

<!--INPUTS DE ESTADOS-->
<div class="flex">
<div class="flex flex-col gap-y-1">
    <label for="">Estado</label>
    <select class="w-[30vh] h-[5vh] border-[0.2vh] border-[#00000049]" >
        <option class="bg-[#c5bfbf] text-gray-800">
        </option>
</select>
</div>

<div class="flex flex-col gap-y-1">
    <label for="">Municipio</label>
    <select class="w-[30vh] h-[5vh] border-[0.2vh] border-[#00000049]" >
        <option class="bg-[#c5bfbf] text-gray-800">
        </option>
</select>
</div>
</div>

<div class="flex flex-col gap-y-1">
    <label for="">Hora de apertura</label>
    <select class="w-[60vh] h-[5vh] border-[0.2vh] border-[#00000049]" >
        <option class="bg-[#c5bfbf] text-gray-800">
        </option>
</select>
</div>

<div class="flex flex-col gap-y-1">
    <label for="">Hora de Entrada</label>
    <input type="time" class="border-[0.2vh] border-[#00000049] w-[30vh] rounded-[4px]">
</div>

<div class="flex flex-col gap-y-1">
    <label for="">Hora de cierre</label>
    <input type="time" class="border-[0.2vh] border-[#00000049] w-[30vh] rounded-[4px]">
</div>

<div class="flex flex-col gap-y-1">
    <label for="" class="text-[#434141]">Numero de telefononico</label>
    <input type="number" name="" id="" class="border-[0.2vh] border-[#00000049] w-[40vh] rounded-[4px]">
</div>


</div>
<div class="file-upload flex flex-col gap-2">
    <label for="fileInput" class="file-label">Subir fotos</label>
    <label for="fileInput" class="custom-file-upload">
        Subir foto
    </label>
    <input type="file" id="fileInput" class="file-input" />

    <p>SELECCIONAR UBICACION</p>
    <google-map 
      [height]="'300px'" 
      [width]="'100%'" 
      [zoom]="zoom" 
      [center]="center" 
      (mapClick)="onMapClick($event)">
      <map-marker [position]="center"></map-marker>
    </google-map>

    <!-- Botón para guardar las coordenadas -->
    <button (click)="guardarCoordenadas()">Guardar Coordenadas</button>
</div>
</section>