#titulo{
    font-family: "Jockey One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.file-upload {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.2rem;
}

.custom-file-upload {
    background-color: white;
    color: rgba(0, 0, 0, 0.547);
    width: 60vh;
    height: 3.9vh;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.319);
    text-align: center;
}

.file-input {
    display: none;
}

google-map {
    height: 500px;
    width: 100%;
}