<header class="h-10 w-full bg-[#f5ab61] flex items-center justify-between 
duration-150 transition-all p-4 hover:h-[10vh] hover:bg-[#e47f36]
shadow-[0px_9px_5px_-1px_rgba(0,0,0,0.13)] z-40 sticky top-0">
    <div class="flex items-center gap-[10vh]">
        <img src="./assets/logo.png" alt="logo" class="h-[7vh] transition-all duration-150 hover:h-20 hover:cursor-pointer" 
        title="Home" [routerLink]="['/home']">
        
        <div class="cursor-pointer flex gap-10 font-semibold items-center">
            <p class="px-6 py-1 duration-150 hover:bg-[#a75c5c48] hover:duration-150 rounded-xl
            text-[#000000bb] hidden sm:block">Lugares</p>
            <p class="font-extralight hidden sm:block">|</p>
            <p class="px-6 py-1 duration-150 hover:bg-[#a75c5c48] hover:duration-150 rounded-xl
            text-[#000000bb] hidden sm:block">Productos</p>
            <p class="font-extralight hidden sm:block">|</p>
            <p class="px-6 py-1 duration-150 hover:bg-[#a75c5c48] hover:duration-150 rounded-xl
            text-[#000000bb] hidden sm:block"
            [routerLink]="['/registerCompany']">Servicios</p>
            <p class="font-extralight hidden sm:block">|</p>
            <p class="px-6 py-1 duration-150 hover:bg-[#a75c5c48] hover:duration-150 rounded-xl
            text-[#000000bb] hidden sm:block"
            [routerLink]="['/favorites']" *ngIf="usersService.isLogged()">Favoritos</p>

        </div>
    </div>
    
    <div class="flex font-semibold items-center gap-6 mr-6">
        <p class="hover:text-[#c32f2f] cursor-pointer hidden sm:block" [routerLink]="['/login']" *ngIf="!usersService.isLogged()">Iniciar sesión</p>
        <p class="px-6 py-2  duration-150 hover:rounded-2xl  bg-[#ffffff48] hover:bg-[#fbf7f7]
        cursor-pointer hover:duration-150 hidden sm:block" [routerLink]="['/crearPuesto']" *ngIf="!usersService.isLogged()">Registrarse</p>
        <img src="./assets/menu.svg" class="block w-[5vh] sm:hidden opacity-45"/>
        <img src="./assets/user.svg" class="block w-[5vh] sm:hidden opacity-65"/>

        <div id="logout" class="hover:bg-[#a75c5c48] rounded-2xl p-[0.6vh] cursor-pointer duration-150 opacity-65" 
        *ngIf="usersService.isLogged()" (click)="logout()" title="Cerrar sesión">
            <img src="./assets/logout.png" class="h-7 hover:h-10 duration-100" alt="">
        </div>
    </div>
</header>

